<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/register">
      <label for="">Full Name</label></br>
      <input type=”text” name="name" /></br>
      <label for="">Username</label></br>
      <input type=”text” name="username" /></br>
      <label for="">Gender</label></br>
        <select name="gender" id="cars">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select></br>
        <label for="">Age</label></br>
        <input type=”text” name="age" /></br>
        <label for="">Email</label></br>
      <input type="email" name="email" /></br>
        <label for="">Password</label></br>
      <input type="text" name="password" /></br>
        <label for="">Role</label></br>
      <input type="text" name="role" /></br>

     
      <button type="”submit”">Search</button>
    </form>
  </body>
</html>
